@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Outfit&display=swap');
@import './reset';
@import './header';
@import './footer';

// font
$en: "Outfit", sans-serif;
$kr: "Noto Sans KR", sans-serif;
// lang
.en {
  font-family: $en;
}

.kr {
  font-family: $kr;
}

// color
$color-black: #1f1e1d;
$color-white: #fff;
$color-red: #f84525;
$color-gray: #bbb;
$color-deep-gray: #363534;

body {
  background-color: $color-black;
  color: $color-white;
}
// 섹션 상단 라인 
.section-top-line {
  // inner_1760 과 함께 사용
  border-top: 1px sold #60605f;
}
// 페이지 타이틀
.page_title {
  font-family: $en;
  color: $color-white;
  @include vw-pc(font-size, 120);
  font-weight: 600;
}

.sub {
  @include vw-pc(font-size, 28);
  line-height: 1;
  @include vw-pc(letter-spacing, 16);
  color: $color-red;
}

//  section - title
 .sec_title {
  font-family: $kr;
  @include vw-pc(font-size, 54);
  @include vw-pc(line-height, 90);
  color: $color-white;
  font-weight: 700;
}

.sec_desc {
  @include vw-pc(font-size, 22);
  @include vw-pc(line-height, 38);
  font-family: $kr;
  color: $color-white;
}
// text 버튼을 감싼 div
.sec_link {
  @include vw-pc(font-size, 22);
  font-family: $kr;
  color: $color-gray;
  font-weight: 400;
}
// section text 버튼
.sec_btn_n {
  @include vw-pc(font-size, 24);
  font-family: $en;
  color: $color-gray;
  text-decoration: none;
}
// section button
.sec_btn {
  @include vw-pc(height, 65);
  @include vw-pc(border-radius, 32);
  border-width: 0;
  @include vw-pc(padding, 0 60);
  font-family: $kr;
  @include vw-pc(font-size, 24);
  @include vw-pc(line-height, 65);
  font-weight: 700;
  color: $color-white;
  background-color: $color-deep-gray;
  cursor: pointer;
}

@media all and (max-width:768px) {
  //section-top-line
  .section-top-line {
    // inner_1760 과 함께 사용
    border-top: 1px sold #60605f;
  }

  // 페이지 타이틀
  .page_title {
    @include vw-mo(font-size, 96);
    font-weight: 600;
  }
  
  // text 버튼을 감싼 div
  .sec_link {
    @include vw-mo(font-size, 32);
  }

  .sec_btn_n {
    @include vw-mo(font-size, 36);
  }

  .sec_btn {
    @include vw-mo(height, 101);
    @include vw-mo(border-radius, 50);
    @include vw-mo(padding, 0 85);
    @include vw-mo(font-size, 32);
    @include vw-mo(line-height, 101);
  }
}