@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Outfit&display=swap');
@import './reset';

// font
$en: "Outfit", sans-serif;
$kr: "Noto Sans KR", sans-serif;
// lang
.en {
  font-family: $en;
}

.kr {
  font-family: $kr;
}

// color
$color-black: #1f1e1d;
$color-white: #fff;
$color-red: #f84525;
$color-gray: #bbb;
$color-deep-gray: #363534;

.m_hide {
  display: block !important;
}

.m_show {
  display: none !important;
}

body {
  background-color: $color-black;
  color: $color-white;
}


a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

em,
i {
  font-style: normal;
}


main {
  position: relative;
  @include vw-pc(max-width, 1920);
}

section {
  @include vw-pc(max-width, 1760);
  margin: 0 auto;
}

section.width-full {
  @include vw-pc(max-width, 1920);
}

.inner_1240 {
  @include vw-pc(max-width, 1240);
  margin: 0 auto;
}

.border-top  {
  // inner_1760 과 함께 사용
  border-top: 1px sold #60605f;
}

.title {
  font-family: $en;
  color: $color-white;
  @include vw-pc(font-size, 120);
  font-weight: 600;
}

.sub {
  @include vw-pc(font-size, 28);
  line-height: 1;
  @include vw-pc(letter-spacing, 16);
  color: $color-red;
}

//  section - title
 .sec_title {
  font-family: $kr;
  @include vw-pc(font-size, 54);
  @include vw-pc(line-height, 90);
  color: $color-white;
  font-weight: 700;
}

.sec_desc {
  @include vw-pc(font-size, 22);
  @include vw-pc(line-height, 38);
  font-family: $kr;
  color: $color-white;
}

.sec_link {
  @include vw-pc(font-size, 22);
  font-family: $kr;
  color: $color-gray;
  font-weight: 400;
}

.sec_btn_n {
  @include vw-pc(font-size, 24);
  font-family: $en;
  color: $color-gray;
  text-decoration: none;
}

.sec_btn {
  @include vw-pc(height, 65);
  @include vw-pc(border-radius, 32);
  border-width: 0;
  @include vw-pc(padding, 0 60);
  font-family: $kr;
  @include vw-pc(font-size, 24);
  @include vw-pc(line-height, 65);
  font-weight: 700;
  color: $color-white;
  background-color: $color-deep-gray;
  cursor: pointer;
}


@media all and (min-width:769px) and (max-width:1920px) {

  main.width-full {
    max-width: 100%;
  }
}

@media all and (min-width:769px) and (max-width:1240px) {
  .inner_1240 {
    margin: 0 auton;
    max-width: 83.3333vw;
  }
}

@media all and (max-width:768px) {

  .m_hide {
    display: none !important;
  }

  .m_show {
    display: block !important;
  }

  main.width-full, .inner_1760, .inner_1240  {
    @include vw-mo(padding, 0 48);
    max-width: 100%;
  }

  .title {
    @include vw-mo(font-size, 96);
    font-weight: 600;
  }
  
  .sub {
    @include vw-mo(font-size, 40);
    @include vw-mo(letter-spacing, 16);
  }

  //  section - title
  .sec_title {
    @include vw-mo(font-size, 60);
    @include vw-mo(line-height, 90);
  }

  .sec_desc {
    @include vw-mo(font-size, 40);
    @include vw-mo(line-height, 60);
    font-family: $kr;
    color: $color-white;
  }

  .sec_link {
    @include vw-mo(font-size, 32);
  }

  .sec_btn_n {
    @include vw-mo(font-size, 36);
  }

  .sec_btn {
    @include vw-mo(height, 101);
    @include vw-mo(border-radius, 50);
    @include vw-mo(padding, 0 85);
    @include vw-mo(font-size, 32);
    @include vw-mo(line-height, 101);
  }
}