.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include vw-pc(padding, 80 89 80 80);

  .logo {
    @include vw-pc(width, 186);
  }

  .nav {
    &_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      @include vw-pc(width, 785);
    }

    &_txt {
      @include vw-pc(font-size, 28);
      @include vw-pc(line-height, 34);
      font-weight: bold;
      color: #fff;

      &.on {
        color: #f84525;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    @include vw-mo(padding, 60 48);

    .logo {
      @include vw-mo(width, 198);
    }

    .nav_button {
      position: absolute;
      @include vw-mo(top, 60);
      @include vw-mo(right, 48);
    }

    #menu {
      display: none;
    }

    .nav_icon {
      display: block;
      @include vw-mo(width, 40);
      @include vw-mo(height, 28);
      position: relative;
      cursor: pointer;
    }

    .nav_icon span {
      display: block;
      position: absolute;
      width: 100%;
      @include vw-mo(height, 5);
      background: #fff;
      transition: all 0.35s;
    }

    .nav_icon span:nth-child(1) {
      top: 0;
    }

    .nav_icon span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    .nav_icon span:nth-child(3) {
      bottom: 0;
    }

    #menu:checked + .nav_icon {
      z-index: 99;
    }

    #menu:checked + .nav_icon span {
      background: #fff;
    }

    #menu:checked + .nav_icon span:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    #menu:checked + .nav_icon span:nth-child(2) {
      opacity: 0;
    }

    #menu:checked + .nav_icon span:nth-child(3) {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }

    .nav {
      width: 100%;
      height: 100%;
      background: #f84525;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 98;
      transition: all 0.35s;
    }

    #menu:checked + .nav_icon + .nav {
      left: 0;
    }

    .nav_list {
      position: absolute;
      top: 119px;
      width: 100%;
    }

    .nav_item {
      @include vw-mo(font-size, 80);
      @include vw-mo(line-height, 60);
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .nav li a {
      display: block;
      transition: all 0.4s;
    }
  }
}