.sec_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include vw-pc(padding, 80 89 80 80);

  .bs_logo {
    &.m_hide {
      @include vw-pc(width, 186);
    }
  }

  .bs_nav {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      @include vw-pc(width, 785);
    }

    &__txt {
      @include vw-pc(font-size, 28);
      @include vw-pc(line-height, 34);
      font-weight: bold;
      color: #fff;

      &.on {
        color: #f84525;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sec_nav {
    @include vw-mo(padding, 60 48);

    .bs_logo {
      &.m_show {
        @include vw-mo(width, 198);
      }
    }

    .bs_nav {
      display: none;

      &__list {
      }

      &__txt {
        @include vw-mo(font-size, 80);
        @include vw-mo(line-height, 60);
      }

      &.on {
        display: block;
        @include vw-mo(height, 1280);
        @include vw-mo(padding, 60 48 0 48);
        background-color: #f84525;
      }
    }

    .bs_btn_menu,
    .bs_btn_close {
      @include vw-mo(width, 40);
    }
  }
}