@import './common';


.contact {
  &__title {
  }

  &__wrap {
  }
  &__info {
    display: flex; 
    flex-wrap: wrap; 
    @include vw-pc(gap, 81 20);
  }
  &__division {
    @include vw-pc(width, 505);
    &:nth-of-type(1) {
      @include vw-pc(width, 715);
    }
    &:nth-of-type(3) {
      @include vw-pc(margin-left, 735);
    }
  }
  &__sub {
    display: block; 
    @include vw-pc(font-size, 30); 
    line-height: 1; 
    color: $color-red; 
    font-weight: 500;
  }
  &__desc {
    display: block; 
    @include vw-pc(font-size, 22); 
    line-height: 1; 
    color: $color-white;
    text-transform:uppercase;
  }

  a {
    color: $color-white; 
    font-weight: 300;
  }
}

.map {
  @include vw-pc(height, 700);
}


@media all and (max-width:768px) {
  .contact {
    &__info {
      @include vw-mo(gap, 60);
    }
    &__division {
      width: 100%;
      &:nth-of-type(1) {
        width: 100%;
      }
      &:nth-of-type(3) {
        margin-left: 0;
      }
    }
    &__sub {
      @include vw-mo(font-size, 40); 
    }
    &__desc {
      @include vw-mo(font-size, 32); 
    }
  }
  
  .map {
    @include vw-mo(height, 600);
  }

}