@import './common';
@import './header';
@import './footer';
@import './contact';

.main {
  .title-box {
    @include vw-pc(max-width, 1240);
    margin: 0 auto;
  }

  &__title {
    position: relative;
    @include vw-pc(font-size, 120);
    @include vw-pc(line-height, 135);
  }

  &__highlight {
    color: #f84525;
  }

  &__deco {
    position: absolute;
    @include vw-pc(right, 309);
    @include vw-pc(top, 426);
    @include vw-pc(width, 360);
    @include vw-pc(height, 360);
  }

  &__video {
    width: 100%;
    @include vw-pc(height, 990);
  }

  &__portfolio {

  }

  &__recruit {

  }
}

@media screen and (max-width: 768px) {
  .main {
    &__title {
      position: relative;
      @include vw-mo(font-size, 96);
      @include vw-mo(line-height, 112);
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #fff;
    }

    &__highlight {
      color: #fff;
      -webkit-text-fill-color: #fff;
      -webkit-text-stroke: 0;
    }

    &__deco {
      @include vw-mo(right, 48);
      @include vw-mo(top, 840);
      @include vw-mo(width, 360);
      @include vw-mo(height, 360);
    }

    &__video {
      width: 100%;
      @include vw-mo(height, 1280);
    }
  }
}