@import './common';
.bs-portfolio {
  .tab {
    display: flex; 
    justify-content: space-between;
    @include vw-max(margin-bottom, 40);
    &__item {
      @include vw-max(height, 50)
    }
    &__txt {
      display: block; 
      height: 100%; 
      color: #888; 
      font-weight: 500;
      text-transform: uppercase;
      @include vw-max(border-bottom, 3 solid transparent); 
      @include vw-max(font-size, 30); 
      @include vw-max(line-height, 50); 
  
      &.active {
        color: $color-white;
        @include vw-max(border-bottom, 3 solid $color-red); 
      }

      &:hover {
        color: $color-white;
      }
    }
  }

  .list {
      display: flex;
      flex-wrap: wrap;
      @include vw-max(gap, 20);
      
      &__item {
        position: relative;
        @include vw-max(width, 400);
        @include vw-max(height, 500);
      }
    
      &__link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        &::after {
          content: '';
          display: none;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(248, 69, 37, .9);
          transition: .3s ease-in;
        }
        &:hover::after{
          display: block;
        }

        &:hover .list__text{
          display: flex;
          transition: .5s ease-in;
          @include vw-max(gap, 20);
        }
      }
  
      &__text {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        // transition: background-color .2s, ease-in;
      }
  
      &__title {
        line-height: 1;
        color: $color-white;  
        font-weight: 700;
        @include vw-max(font-size, 42); 
      }
      
      &__data {
        line-height: 1;
        color: $color-white;  
        font-weight: 400;
        @include vw-max(font-size, 26); 
      }
    
      &__btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: all .5s; 
        @include vw-max(width, 80);
        @include vw-max(height, 80);
      
        &:hover{
          transform: rotate(90deg);
        }
      }
    }
}

  @media all and (max-width:768px) {
    .bs-portfolio {
      section {
        overflow: hidden;
      }

      .tab {
        display: flex; 
        justify-content: flex-start;
        @include vw-mo(gap, 70); 
        @include vw-mo(margin-bottom, 40);
        &__item {
          @include vw-mo(height, 59)
        }
        &__txt {
          @include vw-mo(border-bottom, 4 solid transparent); 
          @include vw-mo(font-size, 36); 
          @include vw-mo(line-height, 59);
      
          &.active {
            @include vw-mo(border-bottom, 4 solid $color-red); 
          }
        }
      }

      .list {
          @include vw-mo(gap, 24);
          
          &__item {
            @include vw-mo(width, 300);
            @include vw-mo(height, 370);
          }
        
          &__text:hover {
            @include vw-mo(gap, 20);
          }
      
          &__title {
            @include vw-mo(font-size, 42);
          }
  
          &__data {
            @include vw-mo(font-size, 26); 
          }
          
          &__btn {
            @include vw-mo(width, 140);
            @include vw-mo(height, 140);
          }
        }
    }
  }