<footer class="sec_footer en">
  <div class="footer__ego">
    <a href="/" class="footer__logo img-box m-hide">
      <img src="/assets/images/footer_logo_pc.png" alt="비스톤스 로고">
    </a>
    <p class="footer__copyright m-hide">&copy; 2024, BSTONES. All Rights Reserved.</p>
  </div>
  <div class="footer__info">
    <a href="/contact/" class="footer__contact">CONTACT US</a>
    <div class="footer__inner">
      <a href="tel:025119160" class="footer__tel">T. 02-511-9160</a>
      <p class="footer__copyright m-show">&copy; 2024, BSTONES. All Rights Reserved.</p>
    </div>
  </div>
</footer>