<header class="sec_header sticky en">
  <a href="/" class="header__logo img-box">
    <img src="/assets/header_logo_pc.png" class="m-hide" alt="">
    <img src="/assets/header_logo_mo.png" class="m-show" alt="">
  </a>

  <a href="javascript:;" class="btn_menu m-show">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item"><a href="/about/" class="menu__txt">About</a></li>
      <li class="menu__item"><a href="/portfolio/" class="menu__txt">Portfolio</a></li>
      <li class="menu__item"><a href="/recruit/" class="menu__txt">Recruit</a></li>
      <li class="menu__item"><a href="/contact/" class="menu__txt">Contact</a></li>
    </ul>
  </nav>
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $(".menu__txt").click(function(){
      $(".menu__txt").removeClass("on");
      $(this).addClass("on");
    });

    $(".btn_menu").click(function(){
      $(".btn_menu, .menu").toggleClass("on");
    });
  });
</script>