<header class="header sticky en">
  <h1 class="header_logo">
    <a href="javascript:;">
      <img src="../assets/bs_header_logo_pc.png" class="m-hide" alt="">
      <img src="../assets/bs_header_logo_mo.png" class="m-show" alt="">
    </a>
  </h1>

  <a href="javascript:;" class="nav_button m-show">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <nav class="nav">
    <ul class="nav_list">
      <li class="nav_item"><a href="javascript:;" class="nav_txt">ABOUT</a></li>
      <li class="nav_item"><a href="javascript:;" class="nav_txt">PORTFOLIO</a></li>
      <li class="nav_item"><a href="javascript:;" class="nav_txt">RECRUIT</a></li>
      <li class="nav_item"><a href="javascript:;" class="nav_txt">CONTACT</a></li>
    </ul>
  </nav>
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $(".nav_txt").click(function(){
      $(".nav_txt").removeClass("on");
      $(this).addClass("on");
    });

    $(".nav_button").click(function(){
      $(".nav_button, .nav").toggleClass("on");
    });
  });
</script>