.wrapper {
  @include vw-max(padding-top, 200);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
    background-color: $color-black;
    transition: opacity 0.3s ease-in;
    @include vw-max(height, 200);
    @include vw-max(padding, 0 80 0 89);
    
    &.js-fixed {
      position: fixed;
      top: 0; 
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      z-index: 50;
    }

    &.js-show {
      opacity: 1;
    }
  
    &__logo {
      @include vw-max(width, 186);
      @include vw-max(height, 41);
    }
  
    &__nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include vw-max(width, 762);
    }

    &__menu {
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      @include vw-max(font-size, 28);
      @include vw-max(line-height, 43);

      &:hover {
        color: #f84525;
        transition: 0.4s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    @include vw-mo(padding-top, 155);

    .header {
      @include vw-mo(height, 155);
      @include vw-mo(padding, 0 48);

      &.side-menu-open {
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        @include vw-mo(width, 624);
      }

      &__logo {
        @include vw-mo(width, 198);
        @include vw-mo(height, 36);
        z-index: 15;
      }

      &__open {
        position: absolute;
        display: block;
        @include vw-mo(top, 60);
        @include vw-mo(right, 48);
        @include vw-mo(width, 40);
        @include vw-mo(height, 28);

        .bar {
          display: block;
          position: absolute;
          width: 100%;
          @include vw-mo(height, 5);
          background: #fff;
          transition: all 0.35s;

          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
          }
          &:nth-child(3) {
            bottom: 0;
          }

        }

        &.on {
          .bar {
            &:nth-child(1) {
              top: 50%;
              transform: translateY(-50%) rotate(45deg);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              bottom: 50%;
              transform: translateY(50%) rotate(-45deg);
            }
          }
        }
    
        &.on {
          z-index: 15;
        }
      }
  
      &__nav {
        display: none;
        width: 100%;
        height: 100vh;
        background: #f84525;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
  
        &.on {
          position: fixed;
          display: block;
          left: 0;
          top: 0;
        }

        
      }

      &__menu {
        display: block;
        text-transform: none;
        @include vw-mo(font-size, 80);
        @include vw-mo(line-height, 112);
        @include vw-mo(letter-spacing, 2.5);
      }
    }
  }
}