.wrapper {
  @include vw-max(padding-top, 200);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
    background-color: $color-black;
    @include vw-max(height, 200);
    @include vw-max(padding, 0 80 0 89);

    &.fixed {
      position: fixed;
      top: 0; 
      left: 50%;
      transform: translateX(-50%);
      z-index: 50;
    }
  
    &__logo {
      @include vw-max(width, 186);
      @include vw-max(height, 41);
    }
  
    &__nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include vw-max(width, 762);
    }

    &__menu {
      @include vw-max(font-size, 28);
      @include vw-max(line-height, 43);
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;

      &:hover {
        color: #f84525;
        transition: 0.4s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    @include vw-mo(padding-top, 155);

    .header {
      position: relative;
      @include vw-mo(height, 155);
      @include vw-mo(padding, 0 48);

      &.side-menu-open {
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0;
        top: 0;
        @include vw-mo(width, 624);
        z-index: 10;
      }

      &__logo {
        @include vw-mo(width, 198);
        @include vw-mo(height, 36);
        z-index: 15;
      }

      .btn_menu {
        position: absolute;
        display: block;
        @include vw-mo(top, 60);
        right: 0;
        @include vw-mo(width, 40);
        @include vw-mo(height, 28);
        cursor: pointer;
    
        &.on {
          z-index: 15;
        }
      }
  
      .btn_menu span {
        display: block;
        position: absolute;
        width: 100%;
        @include vw-mo(height, 5);
        background: #fff;
        transition: all 0.35s;
      }
  
      .btn_menu span:nth-child(1) {
        top: 0;
      }
  
      .btn_menu span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
  
      .btn_menu span:nth-child(3) {
        bottom: 0;
      }
  
      .btn_menu.on span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
  
      .btn_menu.on span:nth-child(2) {
        opacity: 0;
      }
  
      .btn_menu.on span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
  
      .menu {
        display: none;
        width: 100%;
        height: 100vh;
        background: #f84525;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
  
        &.on {
          position: fixed;
          display: block;
          left: 0;
          top: 0;
        }

        &__list {
          display: flex;
          flex-direction: column;
          position: absolute;
          @include vw-mo(top, 340);
          @include vw-mo(left, 70);
        }
  
        &__txt {
          display: block;
          text-transform: none;
          @include vw-mo(font-size, 80);
          @include vw-mo(line-height, 112);
          @include vw-mo(letter-spacing, 2.5);
        }
      }
    }
  }
}