@import './common';
@import './header';
@import './footer';
@import './contact';

.bs-home {
  overflow: hidden;

  /* main start */
  .page-title {
    position: relative;
    word-break: break-all;
    z-index: 5;
    @include vw-max(font-size, 120);
    @include vw-max(line-height, 136.7);
    @include vw-max(letter-spacing, -1);
    
    &--highlight {
      color: $color-red;
    }
  }

  .title-img {
    position: absolute;
    z-index: 1;
    @include vw-max(right, 308);
    @include vw-max(top, 427);
    @include vw-max(width, 360);
    @include vw-max(height, 360);
  }

  .intro-video {
    position: relative;

    &__bg {
      &::after {
        content: '';
        display: block;
        background: center/cover no-repeat url('../images/main_video_btn_pc.png');
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all 0.5s;
        @include vw-max(width, 160);
        @include vw-max(height, 161);
      }

      &:hover {
        &::after {
          transform: translateX(-50%) translateY(-50%) scale(1.2);
        }
      }
    }
  }

  /* portfolio start */
  .page-sub--portfolio {
    letter-spacing: 0.24em;
    @include vw-max(margin-bottom, 74);
    @include vw-max(font-size, 28);

    .sub-arrow {
      position: relative;
    }

    .sub-arrow::after {
      content: '';
      display: block;
      position: absolute;
      border-top: 2px solid $color-red;
      border-right: 2px solid $color-red;
      transform: rotate(45deg);
      @include vw-max(left, 14);
      @include vw-max(top, 13);
      @include vw-max(width, 14);
      @include vw-max(height, 14);
    }
  }

  /* 포트폴리오 스와이퍼 구간 */
  .portfolio-swiper {
    position: relative;
    overflow: visible;
    height: 100%;
    @include vw-max(width, 505);
    @include vw-max(margin, 0 0 30 0);

    &__list {
      width: auto;
    }

    &__item {
      @include vw-max(width, 505);
      
      &:not(:last-child) {
        @include vw-max(margin-right, 40);
      }

      .img-box {
        &:hover {
          img {
            opacity: .3;
            transition: .3s;
          }

          &::after {
            opacity: 1;
          }
        }

        &::after {
          content: 'View';
          display: flex;
          justify-content: center;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          border-radius: 50%;
          background-color: $color-red;
          color: $color-white;
          align-items: center;
          opacity: 0;
          transition: all .2s ease-in;
          font-family: $en;
          @include vw-max(width, 160);
          @include vw-max(height, 161);
          @include vw-max(font-size, 26);
        }
      }
    }

    &__txt {
      display: none;

      .fadeInUp {
        &--01 {
          animation: fadeInUp 0.4s ease backwards;
        }
        &--02 {
          animation: fadeInUp 0.5s ease backwards;
        }
        &--03 {
          animation: fadeInUp 0.6s ease backwards;
        }
        &--04 {
          animation: fadeInUp 0.7s ease backwards;
        }
      }

        @keyframes fadeInUp {
          0% {
            transform: translate(0px, 100px); opacity: 0;
          }
          100% {
            transform: translate(0px, 0); opacity: 1;
          }
        }
    }

    &__title {
      font-weight: bold;
      @include vw-max(font-size, 42);
      @include vw-max(margin-bottom, 25);
      @include vw-max(letter-spacing, -1);
    }

    &__info {
      display: inline-block;
      @include vw-max(font-size, 28);
      @include vw-max(line-height, 50);
      @include vw-max(letter-spacing, 0.2);

      .kr {
        @include vw-max(font-size, 28);
      }

      &--typea {
        font-weight: bold;
      }
    }

    &__navi {
      position: absolute;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      margin-top: 0;
      @include vw-max(width, 88);
      @include vw-max(height, 88);

      &--prev {
        background: center/cover no-repeat url('../images/main_portfolio_swiper_btn_prev_pc.png');
        @include vw-max(right, 456);
      }
      &--next {
        background: center/cover no-repeat url('../images/main_portfolio_swiper_btn_next_pc.png');
        @include vw-max(right, 340);
      }

      &:after {
        display: none;
      }
    }

    .swiper-slide-active {
      @include vw-max(margin-right, 230);

      .portfolio-swiper__txt {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-shadow: 0px 0px 8px rgba(0,0,0,0.6);

        @include vw-max(width, 310);
        @include vw-max(right, -190);
        @include vw-max(top, 280);
      }
    }
  }
  /* portfolio end */

  /* recruit start */
  .recruit {
    position: relative;

    &__sub {
      @include vw-max(margin-bottom, 51);

      .page-sub--recruit {
        letter-spacing: .23em;
        @include vw-max(font-size, 28);
      }
    }

    &__text {
      @include vw-max(font-size, 54);
      @include vw-max(line-height, 90);
      @include vw-max(margin-bottom, 21);
      @include vw-max(letter-spacing, -1);
    }
  
    &__desc {
      @include vw-max(font-size, 21);
      @include vw-max(line-height, 36);
      @include vw-max(margin-bottom, 28);
    }
  
    &__info {
      color: $color-gray;
      @include vw-max(font-size, 24);
      @include vw-max(line-height, 29);
      @include vw-max(letter-spacing, -0.2);
      @include vw-max(margin-bottom, 54);
    }
  
    &__ani {
      position: absolute;
      animation: rotate_image 10s linear infinite;
      transform-origin: 50% 50%;
      @include vw-max(top, 298);
      @include vw-max(right, -2);
      @include vw-max(width, 234);

      &::after {
        display: block;
        content: '';
        position: absolute;
        top: 44.5%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: $color-red;
        @include vw-max(width, 24);
        @include vw-max(height, 24);
      }

      @keyframes rotate_image {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .btn_join {
    display: block;
    text-align: center;
    align-items: center;
    color: $color-white;
    background-color: $color-deep-gray;
    font-weight: bold;
    @include vw-max(width, 250);
    @include vw-max(font-size, 24);
    @include vw-max(line-height, 65);
    @include vw-max(letter-spacing, -1);
    @include vw-max(border-radius, 32);
  }
  /* recruit end */
}


@media screen and (max-width: 768px) {
  .bs-home {
    .page-title {
      position: relative;
      letter-spacing: 0;
      @include vw-mo(margin, 0 0 55 0);
      @include vw-mo(font-size, 95);
      @include vw-mo(line-height, 112);
    }

    .title-img {
      position: relative;
      right: 0;
      top: 0;
      @include vw-mo(left, 264);
      @include vw-mo(width, 360);
      @include vw-mo(height, 360);
    }

    .intro-video {
      width: 100%;
      @include vw-mo(height, 1280);

      &__bg {
        &::after {
          background: center/cover no-repeat url('../images/main_video_btn_mo.png');
          @include vw-mo(width, 160);
          @include vw-mo(height, 161);
        }
      }
    }

    /* portfolio start */
    .page-sub--portfolio {
      @include vw-mo(margin-bottom, 72);
      @include vw-mo(font-size, 40);
      @include vw-mo(letter-spacing, 10);

      .sub-arrow::after {
        transform: rotate(45deg);
        border-top: 3px solid $color-red;
        border-right: 3px solid $color-red;  
        @include vw-mo(left, 23);
        @include vw-mo(top, 13);
        @include vw-mo(width, 20);
        @include vw-mo(height, 19);
      }
    }

    /* 포트폴리오 스와이퍼 구간 */
    .portfolio-swiper {
      margin: 0;
      @include vw-mo(width, 516);

      &__list {
        @include vw-mo(width, 516);
      }
      
      &__item {
        @include vw-mo(width, 516);
        
        &:not(:last-child) {
          @include vw-mo(margin-right, 24);
        }

        .img-box {
          @include vw-mo(margin-bottom, 60);

          &:hover {
            img {
              opacity: .3;
              transition: .3s;
            }
          }

          &::after {
            @include vw-mo(width, 160);
            @include vw-mo(height, 161);
            @include vw-mo(font-size, 26);
          }
        }
      }

      &__title {
        @include vw-mo(margin-bottom, 36);
        @include vw-mo(font-size, 60);
        @include vw-mo(line-height, 80);
      }

      &__info {
        @include vw-mo(font-size, 44);
        @include vw-mo(line-height, 58);
        @include vw-mo(letter-spacing, -0.6);

        .kr {
          @include vw-mo(font-size, 40);
        }
      }

      .swiper-slide-active {
        .portfolio-swiper__txt {
          display: block;
          position: static;
          text-align: left;
          width: auto;
          @include vw-mo(margin, 0 15);
        }
      }
    }
    /* portfolio end */

    /* recruit start */
    .recruit {
      position: relative;

      &__sub {
        @include vw-mo(margin-bottom, 54);

        .page-sub--recruit {
          @include vw-mo(font-size, 40);
          @include vw-mo(letter-spacing, 10);
        }
      }

      &__text {
        letter-spacing: 0;
        @include vw-mo(font-size, 59);
        @include vw-mo(line-height, 90);
        @include vw-mo(margin-bottom, 24);
      }
    
      &__desc {
        @include vw-mo(font-size, 41);
        @include vw-mo(line-height, 57);
        @include vw-mo(margin-bottom, 27);
        @include vw-mo(letter-spacing, -2.3);
      }
    
      &__info {
        color: $color-gray;
        @include vw-mo(font-size, 36);
        @include vw-mo(line-height, 29);
        @include vw-mo(letter-spacing, -1);
        @include vw-mo(margin-bottom, 101);
      }
  
      &__ani {
        position: relative;
        top: 0;
        right: 0;
        @include vw-mo(left, 383);
        @include vw-mo(width, 242);

        &::after {
          transform: translateX(-50%);
          @include vw-mo(width, 24);
          @include vw-mo(height, 24);
        }
      }
    }

    .btn_join {
      @include vw-mo(width, 400);
      @include vw-mo(margin-bottom, 81);
      @include vw-mo(font-size, 32);
      @include vw-mo(line-height, 101);
      @include vw-mo(letter-spacing, -1);
      @include vw-mo(border-radius, 50);
    }
    /* recruit end */
  }
}