@import './common';
@import './animation';

.bs-recruit {
  .title-box {
    @include vw-max(padding-left, 15);
    @include vw-max(padding-right, 12);

    .page-sub {
      line-height: 1;
      letter-spacing: 0;
      color: $color-red;
      @include vw-max(font-size, 90);
    }

    .sec-desc {
      letter-spacing: -.04em;
    }
  }


  .list {
    &__link {
      position: relative;
      width: 100%;
      @include vw-max(height, 105);

      &:hover .list__txt,
      &:hover .list__desc {
        color: $color-red;
      }

      &:hover .btn-plus--recruit {
        transform: rotate(90deg);
      }

      &:hover .btn-plus--recruit::before,
      &:hover .btn-plus--recruit::after {
        background-color: $color-red;
      }
    }

    &__txt {
      line-height: 1;
      color: $color-white;
      font-family: $en;
      font-weight: 500;
      transition: all .5s;
      @include vw-max(font-size, 60);
    }

    &__desc {
      line-height: 1;
      color: $color-gray;
      font-weight: 500;
      transition: all .5s;
      @include vw-max(font-size, 22);
    }
  }

  .btn-plus--recruit {
    position: absolute;
    @include vw-max(top, 33);
    @include vw-max(right, 10);
    @include vw-max(width, 60);
    @include vw-max(height, 60);

    &::before,
    &::after {
      background-color: $color-white;
    }
  }
}


@media all and (max-width:768px) {
  .bs-recruit {
    .title-box {
      .page-sub {
        @include vw-mo(font-size, 56);
      }
    }

    .list {
      @include vw-mo(padding-left, 15);
      @include vw-mo(padding-right, 18);

      &__link {
        @include vw-mo(height, 222);
      }

      &__txt {
        @include vw-mo(font-size, 60);
      }

      &__desc {
        @include vw-mo(font-size, 32);
      }
    }

    .btn-plus--recruit {
      @include vw-mo(top, 35);
      @include vw-mo(width, 60);
      @include vw-mo(height, 60);
    }
  }
}